# Ignore all .terraform directories and their contents
**/.terraform/*

# Or simply (preferred, clearer)
.terraform/
**/.terraform/

# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Ignore Terraform lock file
.terraform.lock.hcl
